<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue.Js Intro</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    
</head>
<body>

    <div id="myApp">

        <h1>Batman quotes <small>{{newQuote}}</small> </h1>

        <input  
            type="text" 
            v-model="newQuote"
            v-on:keypress.enter="addQuote"
        >
        <hr>

        <ul v-for="({quote, author}, index) in quotes">
            <li>
                <span>{{index + 1}} {{quote}}</span>
                <!-- <blockquote v-if="author"> -{{author}} </blockquote> -->
                <blockquote v-show="author"> -{{author}} </blockquote>

            </li>
        </ul>
    </div>



    <script src="app.js"></script>
</body>
</html>